<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BD-IO</title>
    <meta name="description" content="Las mejores fotografías" />
    <meta name="keywords" content="Fotos, videos, documentales, etc" />
    <meta name="news_keywords" content="Imágenes, videos, documentales, etc" />
    <meta name="revisit-after" content="1 day" />
    <link rel="dns-prefetch" href="//p-gruporpp-media.s3.amazonaws.com/" />
  	<link rel="dns-prefetch" href="//s3.amazonaws.com/" />
  	<link rel="dns-prefetch" href="//static.ak.facebook.com/" />
  	<link rel="dns-prefetch" href="//s-static.ak.facebook.com/" />
  	<link rel="dns-prefetch" href="//www.facebook.com/" />
  	<link rel="dns-prefetch" href="//fbexternal-a.akamaihd.net/" />
  	<link rel="dns-prefetch" href="//pixel.facebook.com/" />
  	<link rel="dns-prefetch" href="//apis.google.com/" />
  	<link rel="dns-prefetch" href="//akl.img.e-planning.net/" />
  	<link rel="dns-prefetch" href="//ads.us.e-planning.net/" />
  	<link rel="dns-prefetch" href="//tag.navdmp.com/" />
  	<link rel="dns-prefetch" href="//embed.waze.com/" />
  	<link rel="dns-prefetch" href="//log.pinterest.com/" />
  	<link rel="dns-prefetch" href="//assets.pinterest.com/" />
  	<link rel="dns-prefetch" href="//www.google-analytics.com/" />
  	<link rel="dns-prefetch" href="//analitica.webrpp.com/" />
    <meta property="og:title" itemprop="headline" content="Software para tu negocio | BD-IO" />
    <meta property="og:description" itemprop="description" content="En mantenimiento" />
    <meta property="og:image" itemprop="image" content="https://paolocbazan.com/img/lon.png" />
    <meta property="og:url" itemprop="url" content="https://bd-io.com/" />
    <!-- <link rel="canonical" href="https://bd-io.com"/> -->
    <link rel="shortcut icon" href="img/BD-IO.png">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Web Fonts-->
           <link href="assets/css/all.css" rel="stylesheet">
           <!-- Plugins-->
           <link href="assets/css/plugins.min.css" rel="stylesheet">
           <!-- Template core CSS-->
           <link href="assets/css/template.css" rel="stylesheet">
           <!--  -->
           <link rel="stylesheet" href="src/css/slick.css">
  </head>
  <body>
    <!-- Preloader-->
       <div class="page-loader">
           <div class="page-loader-inner">
               <div class="spinner">
                   <div class="double-bounce1"></div>
                   <div class="double-bounce2"></div>
               </div>
           </div>
       </div>
       <!-- Preloader end-->
       <!-- Wrapper-->
        <div class="">
            <section class="module-cover-slides parallax text-center" data-background="assets/images/module-10.jpg" data-overlay="1" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-mY="0px"></div>
                        <img src="svg/bd-io.svg" alt="err" width="100">
                            <h1 class="demo-heading"><strong>BD-IO</strong></h1>
                              <!-- Testimonials Carousel Main -->
                             <div id="testimonialsNavMain" class="js-slick-carousel u-slick mb-0"
                                  data-infinite="true"
                                  data-autoplay="true"
                                  data-speed="5000"
                                  data-fade="true"
                                  data-nav-for="#testimonialsNavPagination">
                                   <blockquote>Soluciones para mantener el control de su negocio.</blockquote>
                                   <blockquote>Utilizamos metodologías ágiles que responden a la necesidad de tu negocio.</blockquote>
                                   <blockquote>Desarrollo de aplicaciones móviles para el manejo de su negocio.</blockquote>
                                 </div>
                                 <!-- Testimonials Carousel Pagination -->
                                 <div id="testimonialsNavPagination" class="js-slick-carousel u-slick u-slick--transform-off u-slick--pagination-modern mx-auto"
                                      data-infinite="true"
                                      data-autoplay="true"
                                      data-speed="5000"
                                      data-center-mode="true"
                                      data-slides-show="3"
                                      data-is-thumbs="true"
                                      data-focus-on-select="true"
                                      data-nav-for="#testimonialsNavMain">
                                 </div>
                                 <!-- End Testimonials Carousel Pagination -->
                                 <!-- End Testimonials Carousel Main -->
                            <div class="space" data-MY="30px"></div>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Conócenos</a></p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
       <!-- To top button-->
       <a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
    <script src="src/js/jquery.min.js"></script>
   <script src="src/js/jquery-migrate.min.js"></script>
   <script src="src/js/popper.min.js"></script>
   <script src="src/js/bootstrap.min.js"></script>

   <!-- <script src="assets/js/jquery-3.2.1.min.js"></script> -->
   <script src="assets/js/popper.min.js"></script>
   <!-- <script src="assets/js/bootstrap.min.js"></script> -->
   <script src="assets/js/plugins.min.js"></script>
   <script src="assets/js/custom.min.js"></script>

   <!-- JS Implementing Plugins -->
   <script src="src/js/jquery.validate.min.js"></script>
   <script src="src/js/slick.js"></script>
  <!-- JS Front -->
  <script src="src/js/hs.core.js"></script>
  <script src="src/js/hs.validation.js"></script>
  <script src="src/js/hs.focus-state.js"></script>
  <script src="src/js/hs.slick-carousel.js"></script>
  <!-- JS Plugins Init. -->
  <script>
     $(document).on('ready', function () {
       // initialization of slick carousel
       $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

       // initialization of forms
       $.HSCore.helpers.HSFocusState.init();
     });
   </script>
  </body>
</html>
